.banner-principal-decorativo
  &-1
    animation: float2 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 84%
    width: 60px
  &-2
    animation: scale 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 35%
    width: 20px
  &-3
    animation: float1 4s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 45%
    width: 130px
  &-4
    animation: float1 6s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 15%
    width: 85px
  &-5
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 10%
    width: 70px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes scale
  0%
    transform: scale(1)

  100%
    transform: scale(1.9)   

.banner-principal__img
  width: 470px !important
  padding-bottom: 0rem !important
  padding-top: 5rem !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important


/// ESTILOS GLOBALES ----------------

.cajon.color-acento-contenido 
    background-color: #DCFBFF

// ESTILOS TEMA 1 ------------------


// SLYDER A ----------
  
.bg-Slyder1
  background-image: url("../assets/curso/temas/tema1/bg-Slyder1.png")
  background-size: 100% 100%

.slyder-a__bullets__item--active
  background-color: #7E5EE3
  border-color: #7E5EE3
  opacity: 1

.slyder-a__bullets__item 
  background-color: #C6C2F3


//Estilos tema 4

.bloque-texto-tema4
    &::before
      background-color: #DCFBFF !important
      right: 55% !important
      bottom: 65% !important

.bloque-texto-f__autor 
    text-align: right